<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <h1>Sign In</h1>
      <% if flash.now[:error] %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= flash.now[:error] %>
        </div>
      <% end %>

      <%= form_for :session, url: login_path do |f| %>

        <div class="form-group has-feedback has-feedback-left">
          <%= f.label :username, class: 'required sr-only' %>
          <%= f.text_field :username, class: 'form-control', placeholder: "username" %>
          <i class="form-control-feedback fa fa-user"></i>
        </div>

        <div class="form-group has-feedback has-feedback-left">
          <%= f.label :password, class: 'required sr-only' %>
          <%= f.password_field :password, class: 'form-control form-group', placeholder: "password (min 6 characters)" %>
          <i class="form-control-feedback fa fa-lock"></i>
        </div>

        <%= f.submit "Sign In", class: "btn btn-primary form-control form-group" %>
      <% end %>
      <br>
      <p class="text-center"><%= link_to("I forgot my username or pasword", "#") %></p>
    </div>
  </div>
</div>
