<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <h3>DBT Participant Sign Up</h3>
      <p class="text-small"><%= link_to("Take me to therapist registration", therapist_signup_path) %></p>

      <%= form_for @user do |f| %>
        <%= render partial: 'shared/error_messages', 
                            locals: { 
                              any_errors: @user.errors.any?,
                              messages: @user.errors.full_messages 
                            } %>

        <div class="form-group has-feedback has-feedback-left">
          <%= f.label :name, class: 'required sr-only' %>
          <%= f.text_field :name, class: 'form-control', placeholder: "Username" %>
          <i class="form-control-feedback text-muted fa fa-user"></i>
        </div>

        <div class="form-group has-feedback has-feedback-left">
          <%= f.label :email, class: 'required sr-only' %>
          <%= f.email_field :email, class: 'form-control form-group', placeholder: "E-mail" %>
          <i class="form-control-feedback text-muted fa fa-envelope"></i>
        </div>

        <div class="form-group has-feedback has-feedback-left">
          <%= f.label :password, class: 'required sr-only' %>
          <%= f.password_field :password, class: 'form-control form-group', placeholder: "Password (min 6 characters)" %>
          <i class="form-control-feedback text-muted fa fa-lock"></i>
        </div>

        <div class="form-group has-feedback has-feedback-left">
          <%= f.label :password_confirmation, class: 'required sr-only' %>
          <%= f.password_field :password_confirmation, class: 'form-control form-group', placeholder: "Password confirmation" %>
          <i class="form-control-feedback text-muted fa fa-lock"></i>
        </div>

        <%= f.submit "Create my Account", class: "btn btn-primary form-control form-group" %>
        <%= link_to google_path(:google_oauth2), class: 'form-control btn btn-danger google' do %>
          <i class="fa fa-google-plus"></i> Signup with Google
        <% end %>
      <% end %>
      <br>
      <p class="center">By joining you are agreeing to our <%= link_to "Terms of Use", "#" %></p>
    </div>
  </div>
</div>
