<div class="container settings">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Account Settings</h4>
      </div>

      <div class="panel-body settings">
        <!-- PHOTO SETTINGS -->
        <div class="row photo-settings">
          <div class="col-md-3 photo-preview">
            <%= image_tag @user.photo.link, class: "current-img img-circle" %>
            <p class="photo-text">Select a photo</p>
          </div>
          <div class="col-md-9">
            <% @photos.each do |photo| %>
              <%= link_to image_tag(photo.link, class: "img-options img-circle"), 
              change_photo_path(photo: photo.id), method: :post %>
            <% end %>
          </div>
        </div>

        <!-- USER SETTINGS -->
        <div class="row user-settings">
          <div class="col-md-10 col-md-offset-1">
            <h4><%= @user.name.titlecase %> Profile Settings</h4>
            <div class="form">
              <%= form_for @user do |f| %>
                <div class="form-group has-feedback has-feedback-left">
                  <%= f.label :name, class: "sr-only" %>
                  <%= f.text_field :name, class: "form-control form-group" %>
                  <i class="form-control-feedback text-muted fa fa-user"></i>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <%= f.label :email, class: 'sr-only' %>
                  <%= f.email_field :email, class: 'form-control form-group', placeholder: "E-mail" %>
                  <i class="form-control-feedback text-muted fa fa-envelope"></i>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <%= f.label :password, class: 'sr-only' %>
                  <%= f.password_field :password, class: 'form-control form-group', placeholder: "New password" %>
                  <i class="form-control-feedback text-muted fa fa-lock"></i>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <%= f.label :password_confirmation, class: 'sr-only' %>
                  <%= f.password_field :password_confirmation, class: 'form-control form-group', placeholder: "Password confirmation" %>
                  <i class="form-control-feedback text-muted fa fa-lock"></i>
                </div>

                <%= f.hidden_field :user_id, value: session[:user_id] %>

                <%= f.submit "Save", id: session[:user_id], class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>

        <!-- QUESTION SETTINGS -->
        <div class="row question-settings">
          <div class="col-md-10 col-md-offset-1">
            <h4>Diary Questions</h4>
            <!-- PANELS: for deleting a diary question-->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <%= render partial: 'questions', locals: { 
                questions: @urges, 
                asker: "Highest urge to ",
                number: "One",
                title: "Urges"
                } %>

              <%= render partial: 'questions', locals: { 
                questions: @ratings, 
                asker: "Highest rating for each day: ",
                number: "Two",
                title: "Ratings"
                } %>

              <%= render partial: 'questions', locals: { 
                questions: @meds, 
                asker: nil,
                number: "Three",
                title: "Drugs & Medications"
                } %>

              <%= render partial: 'questions', locals: { 
                questions: @actions, 
                asker: nil,
                number: "Four",
                title: "Actions"
                } %>

              <%= render partial: 'questions', locals: { 
                questions: @emotions, 
                asker: nil,
                number: "Five",
                title: "Emotions"
                } %>

              <%= render partial: 'questions', locals: { 
                questions: @optionals, 
                asker: nil,
                number: "Six",
                title: "Optional"
                } %>

              <%= render partial: 'questions', locals: { 
                questions: @session_urges, 
                asker: "Urge Coming to Session: ",
                number: "Seven",
                title: "Coming to Session: Urges"
                } %>

              <%= render partial: 'questions', locals: { 
                questions: @session_regs, 
                asker: "Belief I Can Change/Regulate My ",
                number: "Eight",
                title: "Coming to Session: Belief I can Change/Regulate"
                } %>
    
              <div class="panel panel-default">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                  <div class="panel-heading" role="tab" id="headingNine">
                    <h4 class="panel-title">
                      <i class="text-muted fa fa-plus"></i> 
                      <span class="add-question">Add A New Question</span>
                    </h4>
                  </div>
                </a>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                  <div class="panel-body">
                    <!-- FORM Add diary question -->
                    <div class="form col-md-10 col-md-offset-1">
                      <%= form_for @question do |f| %>
                        <%= f.label :text, class: "sr-only" %>
                        <%= f.text_field :text, class: "form-control form-group", placeholder: "Question" %>

                        <%= f.select :category, options_for_select(categories), { include_blank: "Select a Category" }, { class: 'form-control form-group' } %>

                        <%= f.select :answer_type, options_for_select(answer_types), { include_blank: "Select a Response Type" }, { class: 'form-control form-group' } %>

                        <%= f.select :recurrence, options_for_select(recurrence), { include_blank: "How Often Should this Question be Asked?" }, { class: 'form-control form-group' } %>

                        <%= f.submit "Save", class: "btn btn-primary" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- THERAPIST SETTINGS -->
        <div class="row therapist-settings">
          <div class="col-md-10 col-md-offset-1">
            <h4>Therapist</h4>
              <div class="row">
                <div class="col-md-5 therapist-info">
                  <% if @user.therapist_id %>
                    <strong><%= @user.therapist.name %></strong><br>
                    <%= @user.therapist.email %><br>
                    <%= @user.therapist.phone %>
                  <% end %>
                </div>
                <div class="col-md-7">
                  <%= form_tag @user, class: "form-inline" do %>
                    <%= select_tag :therapist_id, options_from_collection_for_select(@therapists, :id, :name), { include_blank: "--Select a therapist--", class: "form-control form-group" }  %>
                    <%= submit_tag "Save", class: "btn btn-primary therapist-save" %>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
        <div class="row bottom-fix"></div>
      </div>
    </div>
  </div>
</div>
