<div class="container settings">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Account Settings</h2>
      </div>

      <div class="panel-body">

        <div class="row photo-settings">
          <div class="col-md-3 photo-preview">
            <%= image_tag @user.photo.link, class: "current-img img-circle" %>
            <p class="photo-text">Select a photo</p>
          </div>
          <div class="col-md-9">
            <% @photos.each do |photo| %>
              <%= link_to image_tag(photo.link, class: "img-options img-circle"), 
              change_photo_path(photo: photo.id), method: :post %>
            <% end %>
          </div>
        </div>

        <div class="row user-settings">
          <div class="col-md-8 col-md-offset-2">
            <h3><%= @user.name.titlecase %> Profile Settings</h3>
            <div class="form">
              <%= form_for @user do |f| %>
              
                <div class="form-group has-feedback has-feedback-left">
                  <%= f.label :name, class: "sr-only" %>
                  <%= f.text_field :name, class: "form-control form-group" %>
                  <i class="form-control-feedback text-muted fa fa-user"></i>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <%= f.label :email, class: 'sr-only' %>
                  <%= f.email_field :email, class: 'form-control form-group', placeholder: "E-mail" %>
                  <i class="form-control-feedback text-muted fa fa-envelope"></i>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <%= f.label :password, class: 'sr-only' %>
                  <%= f.password_field :password, class: 'form-control form-group', placeholder: "New password" %>
                  <i class="form-control-feedback text-muted fa fa-lock"></i>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <%= f.label :password_confirmation, class: 'sr-only' %>
                  <%= f.password_field :password_confirmation, class: 'form-control form-group', placeholder: "Password confirmation" %>
                  <i class="form-control-feedback text-muted fa fa-lock"></i>
                </div>

                <%= f.hidden_field :user_id, value: session[:user_id] %>

                <%= f.submit "Save", id: session[:user_id], class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row question-settings">
          <div class="col-md-12">
            <h3>Diary Questions</h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Urges
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <%= render partial: 'questions', locals: { 
                      questions: @urges, 
                      asker: "Highest urge to ",
                      collapse: "collapseOne",
                      collapse_id: "#collapseOne",
                      heading: "headingOne"
                      } %>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Ratings
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <%= render partial: 'questions', locals: { questions: @ratings, asker: "Highest rating for each day: " } %>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Drugs & Medications
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <%= render partial: 'questions', locals: { questions: @meds, asker: nil } %>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      Actions
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">
                    <%= render partial: 'questions', locals: { questions: @actions, asker: nil } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
