<li role="presentation" class=<%= state %>>
  <a href="#<%= category %>" data-toggle="tab" aria-controls=<%= category %> role="tab" title=<%= category.titlecase %>>
    <span class="round-tab">
      <%= fa_icon icon %>
    </span>
  </a>
</li>
