<div class="container">
  <div class="row">
    <section>
      <div class="wizard">
        <!-- ICONS -->
        <div class="wizard-inner">
          <div class="connecting-line"></div>
          <ul class="nav nav-tabs" role="tablist">
            <%= render partial: 'icon', locals: { 
              state: "active",
              category: "urges", 
              icon: "hand-stop-o"
              } %>

            <%= render partial: 'icon', locals: { 
              state: "disabled",
              category: "ratings", 
              icon: "pencil"
              } %>

            <%= render partial: 'icon', locals: { 
              state: "disabled",
              category: "drugs-and-medications", 
              icon: "heartbeat"
              } %>

            <%= render partial: 'icon', locals: { 
              state: "disabled",
              category: "actions", 
              icon: "play"
              } %>
          </ul>
        </div>

        <!-- FORM -->
        <div class="tab-content">
          <!-- URGES TAB -->
          <div class="tab-pane active" role="tabpanel" id="urges">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <div class="panel-heading">Urges</div>
                <div class="panel-body">
                  <%= form_for @answer do |f| %>
                    <% @urges.each do |urge| %>
                      <div class="row">
                        <div class="col-md-5">
                          <%= f.label :num, "Highest urge to: " + urge.text.titlecase, class: "required" %>
                        </div>
                        <div class="col-md-7">
                        <%= f.select :num, (0..5).map{ |n| [n, n] }, { include_blank: "Select a Rating" }, { class: 'form-control form-group' } %>
                        </div>
                      </div>

                      <%= f.hidden_field :user_id, value: @user.id %>
                      <%= f.hidden_field :question_id, value: urge.id %>

                    <% end %>
                    <%= f.submit "Save and continue", class: "btn btn-primary next-step pull-right" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- RATINGS TAB -->
          <div class="tab-pane" role="tabpanel" id="ratings">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <div class="panel-heading">Ratings</div>
                <div class="panel-body">
                  <%= form_for @answer do |f| %>
                    <% @ratings.each do |rating| %>
                      <div class="row">
                        <div class="col-md-6">
                          <%= f.label :num, "Highest rating for each day: " + rating.text.titlecase, class: "required" %>
                        </div>
                        <div class="col-md-6">
                        <%= f.select :num, (0..5).map{ |n| [n, n] }, { include_blank: "Select a Rating" }, { class: 'form-control form-group' } %>
                        </div>
                      </div>

                      <%= f.hidden_field :user_id, value: @user.id %>
                      <%= f.hidden_field :question_id, value: rating.id %>

                    <% end %>
                    <%= f.submit "Save and continue", class: "btn btn-primary next-step pull-right" %>
                    <button type="button" class="btn btn-default prev-step pull-left">Previous</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- DRUGS/MEDS TAB -->
          <div class="tab-pane" role="tabpanel" id="drugs-and-medications">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <div class="panel-heading">Drugs</div>
                <div class="panel-body">
                  <%= form_for @answer do |f| %>
                    <% @meds.each do |med| %>
                      <div class="row">
                        <% if med.answer_type == "bool" %>
                          <div class="col-md-6">
                            <%= f.label :bool, med.text.titlecase, class: "required" %>
                          </div>
                          <div class="col-md-6">
                            <%= f.select :bool, ['Yes', 'No'].map{ |n| [n, n] }, {}, { class: 'form-control form-group' } %>
                          </div>
                        <% elsif med.answer_type == "num/text" %>
                          <div class="col-md-4">
                            <%= f.label :num, med.text.titlecase, class: "required" %>
                          </div>
                          <div class="col-md-2">
                            <%= f.select :num, (0..20).map{ |n| [n, n] }, { include_blank: "#" }, { class: 'form-control form-group' } %>
                          </div>
                          <div class="col-md-6">
                            <%= f.label :text, class: "sr-only" %>
                            <%= f.text_field :text, placeholder: 'What?', class: 'form-control form-group' %>
                          </div>
                        <% end %>
                      </div>

                      <%= f.hidden_field :user_id, value: @user.id %>
                      <%= f.hidden_field :question_id, value: med.id %>

                    <% end %>
                    <%= f.submit "Save and continue", class: "btn btn-primary next-step pull-right" %>
                    <button type="button" class="btn btn-default prev-step pull-left">Previous</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- ACTIONS TAB -->
          <div class="tab-pane" role="tabpanel" id="actions">
           <div class="col-md-4 col-md-offset-4">
             <div class="panel panel-default">
               <div class="panel-heading">Actions</div>
               <div class="panel-body">
                 <%= form_for @answer do |f| %>
                   <% @actions.each do |action| %>
                     <div class="row">
                      <% if action.answer_type == "bool" %>
                        <div class="col-md-6">
                          <%= f.label :bool, action.text.titlecase, class: "required" %>
                        </div>
                        <div class="col-md-6">
                          <%= f.select :bool, ['No', 'Yes'].map{ |n| [n, n] }, {}, { class: 'form-control form-group' } %>
                        </div>
                      <% elsif action.answer_type == "num" %>
                        <div class="col-md-6">
                          <%= f.label :num, action.text.titlecase, class: "required" %>
                        </div>
                        <div class="col-md-6">
                          <%= f.text_field :num, placeholder: '#', class: 'form-control form-group' %>
                        </div>
                      <% end %>
                     </div>

                     <%= f.hidden_field :user_id, value: @user.id %>
                     <%= f.hidden_field :question_id, value: action.id %>

                   <% end %>
                   <%= f.submit "Save", class: "btn btn-success next-step pull-right" %>
                   <button type="button" class="btn btn-default prev-step pull-left">Previous</button>
                 <% end %>
               </div>
             </div>
           </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>
