<div class="container">
  <div class="row">
    <section>
      <div class="wizard">
        <div class="wizard-inner">
          <div class="connecting-line"></div>
          <ul class="nav nav-tabs" role="tablist">

            <li role="presentation" class="active">
              <a href="#urges" data-toggle="tab" aria-controls="urges" role="tab" title="Urges">
                <span class="round-tab">
                  <%= fa_icon "hand-stop-o" %>
                </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#ratings" data-toggle="tab" aria-controls="ratings" role="tab" title="Ratings">
                <span class="round-tab">
                  <%= fa_icon "pencil" %>
                </span>
              </a>
            </li>
            <li role="presentation" class="disabled">
              <a href="#drugs-meds" data-toggle="tab" aria-controls="drugs-meds" role="tab" title="Drugs and Medications">
                <span class="round-tab">
                  <%= fa_icon "heartbeat" %>
                </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#actions" data-toggle="tab" aria-controls="actions" role="tab" title="Actions">
                <span class="round-tab">
                  <%= fa_icon "play" %>
                </span>
              </a>
            </li>
          </ul>
        </div>

        <form role="form">
          <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="urges">
              <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-info">

                <!-- Default panel contents -->
                <div class="panel-heading">Urges</div>
                  <div class="panel-body">
                    <%= form_for @answer, class: "form-inline", url: diary_index_path do |f| %>

                      <% @urges.each do |urge| %>
                      <div class="row">
                        <div class="col-md-5">
                          <%= f.label :num, "Highest urge to: " + urge.text, class: "required" %>
                        </div>
                        <div class="col-md-7">
                        <%= f.select :num, (0..5).map{ |n| [n, n] }, { include_blank: "Select a Rating" }, { class: 'form-control form-group' } %>
                        </div>
                      </div>

                        <%= f.hidden_field :user_id, value: @user.id %>
                        <%= f.hidden_field :question_id, value: urge.id %>

                      <% end %>
                      <%= f.submit "Save and continue", id: session[:user_id], class: "btn btn-primary next-step pull-right" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" role="tabpanel" id="ratings">
              <h3>Ratings</h3>
              <p>This is step 2</p>
              <ul class="list-inline pull-right">
                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
              </ul>
            </div>
            <div class="tab-pane" role="tabpanel" id="drugs-meds">
              <h3>Drugs and Medications</h3>
              <p>This is step 3</p>
              <ul class="list-inline pull-right">
                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
              </ul>
            </div>
            <div class="tab-pane" role="tabpanel" id="actions">
              <h3>Actions</h3>
              <p>You have successfully actionsd all steps.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
