<div class="container">
  <div class="row">
    <section>
      <div class="wizard">
        <!-- ICONS -->
        <div class="wizard-inner">
          <div class="connecting-line"></div>
          <ul class="nav nav-tabs" role="tablist">
            <%= render partial: 'icon', locals: { 
              state: "active",
              category: "urges", 
              icon: "hand-stop-o"
              } %>

            <%= render partial: 'icon', locals: { 
              state: "disabled",
              category: "ratings", 
              icon: "pencil"
              } %>

            <%= render partial: 'icon', locals: { 
              state: "disabled",
              category: "drugs-and-medications", 
              icon: "heartbeat"
              } %>

            <%= render partial: 'icon', locals: { 
              state: "disabled",
              category: "actions", 
              icon: "play"
              } %>
          </ul>
        </div>

        <!-- FORM -->
        <div class="tab-content">
          <!-- URGES TAB -->
          <div class="tab-pane active" role="tabpanel" id="urges">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <div class="panel-heading">Urges</div>
                <div class="panel-body">
                  <%= form_tag @answer do %>
                    <%= render partial: 'form', locals: { 
                      questions: @urges, 
                      asker: "Highest urge to: ",
                      number: 5
                      } %>
                    <%= submit_tag "Save and continue", class: "btn btn-primary next-step pull-right" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- RATINGS TAB -->
          <div class="tab-pane" role="tabpanel" id="ratings">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <div class="panel-heading">Ratings</div>
                <div class="panel-body">
                  <%= form_tag @answer do %>
                    <%= render partial: 'form', locals: { 
                      questions: @ratings, 
                      asker: "Highest rating for each day: ",
                      number: 5
                      } %>
                    <%= submit_tag "Save and continue", class: "btn btn-primary next-step pull-right" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- DRUGS/MEDS TAB -->
          <div class="tab-pane" role="tabpanel" id="drugs-and-medications">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <div class="panel-heading">Drugs & Medications</div>
                <div class="panel-body">
                  <%= form_tag @answer do %>
                    <%= render partial: 'form', locals: { 
                      questions: @meds, 
                      asker: "",
                      number: 20
                      } %>
                    <%= submit_tag "Save and continue", class: "btn btn-primary next-step pull-right" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- ACTIONS TAB -->
          <div class="tab-pane" role="tabpanel" id="actions">
            <div class="col-md-4 col-md-offset-4">
              <div class="panel panel-default">
                <div class="panel-heading">Actions</div>
                <div class="panel-body">
                  <%= form_tag @answer do %>
                    <%= render partial: 'form', locals: { 
                      questions: @actions, 
                      asker: "",
                      number: nil
                      } %>
                    <%= submit_tag "Save", class: "btn btn-success next-step pull-right" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
  </div>
</div>
