<div class="container">
  <div class="row">
    <section>
      <div class="wizard">
        <!-- ICONS -->
        <div class="wizard-inner">
          <div class="connecting-line"></div>
          <ul class="nav nav-tabs" role="tablist">
            <%= render partial: 'icon', locals: { 
              category: "urges", 
              icon: "hand-stop-o",
              state: "active"
              } %>

            <%= render partial: 'icon', locals: { 
              category: "ratings", 
              icon: "pencil",
              state: "disabled"
              } %>

            <%= render partial: 'icon', locals: { 
              category: "drugs-and-medications", 
              icon: "heartbeat",
              state: "disabled"
              } %>

            <%= render partial: 'icon', locals: { 
              category: "actions", 
              icon: "play",
              state: "disabled"
              } %>
          </ul>
        </div>

        <!-- FORM -->
        <div class="tab-content">
          <!-- URGES TAB -->
          <div class="tab-pane active" role="tabpanel" id="urges">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <div class="panel-heading">Urges</div>
                <div class="panel-body">
                  <%= form_for @answer do |f| %>
                    <% @urges.each do |urge| %>
                      <div class="row">
                        <div class="col-md-5">
                          <%= f.label :num, "Highest urge to: " + urge.text, class: "required" %>
                        </div>
                        <div class="col-md-7">
                        <%= f.select :num, (0..5).map{ |n| [n, n] }, { include_blank: "Select a Rating" }, { class: 'form-control form-group' } %>
                        </div>
                      </div>

                      <%= f.hidden_field :user_id, value: @user.id %>
                      <%= f.hidden_field :question_id, value: urge.id %>

                    <% end %>
                    <%= f.submit "Save and continue", class: "btn btn-primary next-step pull-right" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- RATINGS TAB -->
          <div class="tab-pane" role="tabpanel" id="ratings">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <div class="panel-heading">Ratings</div>
                <div class="panel-body">
                  <%= form_for @answer do |f| %>
                    <% @ratings.each do |rating| %>
                      <div class="row">
                        <div class="col-md-6">
                          <%= f.label :num, "Highest rating for each day: " + rating.text, class: "required" %>
                        </div>
                        <div class="col-md-6">
                        <%= f.select :num, (0..5).map{ |n| [n, n] }, { include_blank: "Select a Rating" }, { class: 'form-control form-group' } %>
                        </div>
                      </div>

                      <%= f.hidden_field :user_id, value: @user.id %>
                      <%= f.hidden_field :question_id, value: rating.id %>

                    <% end %>
                    <%= f.submit "Save and continue", class: "btn btn-primary next-step pull-right" %>
                    <button type="button" class="btn btn-default prev-step pull-left">Previous</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- DRUGS/MEDS TAB -->
          <div class="tab-pane" role="tabpanel" id="drugs-meds">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <div class="panel-heading">Drugs and Medications</div>
                <div class="panel-body">
                  <%= form_for @answer do |f| %>
                    <% @meds.each do |med| %>
                      <div class="row">
                        <div class="col-md-6">
                          <%= f.label :num, "Highest rating for each day: " + med.text, class: "required" %>
                        </div>
                        <div class="col-md-6">
                        <%= f.select :num, (0..5).map{ |n| [n, n] }, { include_blank: "Select a Rating" }, { class: 'form-control form-group' } %>
                        </div>
                      </div>

                      <%= f.hidden_field :user_id, value: @user.id %>
                      <%= f.hidden_field :question_id, value: med.id %>

                    <% end %>
                    <%= f.submit "Save and continue", class: "btn btn-primary next-step pull-right" %>
                    <button type="button" class="btn btn-default prev-step pull-right">Previous</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- ACTIONS TAB -->
          <div class="tab-pane" role="tabpanel" id="actions">
           <div class="col-md-8 col-md-offset-2">
             <div class="panel panel-default">
               <div class="panel-heading">Actions</div>
               <div class="panel-body">
                 <%= form_for @answer do |f| %>
                   <% @actions.each do |action| %>
                     <div class="row">
                       <div class="col-md-6">
                         <%= f.label :num, action.text, class: "required" %>
                       </div>
                       <div class="col-md-6">
                       <%= f.select :num, (0..5).map{ |n| [n, n] }, { include_blank: "Select a Rating" }, { class: 'form-control form-group' } %>
                       </div>
                     </div>

                     <%= f.hidden_field :user_id, value: @user.id %>
                     <%= f.hidden_field :question_id, value: action.id %>

                   <% end %>
                   <%= f.submit "Save and continue", class: "btn btn-primary next-step pull-right" %>
                   <button type="button" class="btn btn-default prev-step">Previous</button>
                   <button type="button" class="btn btn-default next-step">Skip</button>
                 <% end %>
               </div>
             </div>
           </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
