<!DOCTYPE html>
<html>
<head>
  <title>DBT Companion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="content">
  <%= render 'layouts/header' %>
  <%= render partial: "shared/messages", flash: flash %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
